body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #64615C;
  background-color: #ffffff;
}
.logo_fadein{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9998;
}
.logo_fadein p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;

}
.font {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
p {
  line-height: 2em;
}
li {
  list-style: none;
}
section {
  opacity: 0;
  transition: all 2s;
}
.fadeIn {
  opacity: 1;
}

/*header*/
header {
  margin: 20px 240px 50px 240px;
}
#ayakakamba img {
  width: 300px;
}
#ayakakamba {
 display: flex;
 justify-content: center;
}
#ayakakamba-sp {
  display: none;
}
#mv-sp {
  display: none;
}
.nav-sp {
  display: none;
}
#header-nav {
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  font-size: 24px;
  color: #958F85;
  letter-spacing: 0.5em;
}
header a:hover {
  color: #64615C;
}
a {
  text-decoration: none;
  font-size: 24px;
  color: #958F85;
  letter-spacing: 0.5em;
}
a:hover {
  color: #64615C;
}

/*body*/
#mv {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin: 0;
  position: relative;
}
.mv-text {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.2em;
  position: absolute;
  top: 350px;
  right: 170px;
}
.line {
  background-color: #64615C;
  width: 100%;
  height: 1px;
  margin-top: 30px;
}
section h2 {
  font-size: 40px;
  letter-spacing: 0.5em;
  text-align: center;
}
.section-title {
  margin-bottom: 60px;
}
.link {
  position: relative;
  display: block;
  padding: 0.25em 0.25em 0.25em 0.5em;
}
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #958F85;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;
  transform-origin: center;
}
.link:hover::before {
  width: 100%;
}

/*works*/
.works-img img {
  width: 540px;
  border-radius: 15%;
  margin:0px 50px 0px 10px;
}
.works-img {
  margin: 0px auto;
}
.works-img:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}
.works-content {
  margin-top: 50px;
  padding-left: 70px;
  width: 540px;
  position: relative;
}
.works-group {
  display: flex;
  margin: 100px auto 0px auto;
}
.works-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin: 0px 0px 40px 0px;
}
#works{
  margin: 150px auto;
  max-width: 1080px;
}
.works-tag {
  letter-spacing: 0.15em;
  margin-bottom: 0;
  color: #958F85;
}
.viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.2em;
  border: #958F85 solid 1px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transition: all 0.3s ease;
}
.viewall:hover {
  color: #ffffff;
  background-color: #958F85
}

.works-icon {
  width: 65px;
  height: 65px;
  margin-right: 20px;
}
.more {
  font-size: 16px;
  letter-spacing: 0.5em;
}

.works-content a {
  position: absolute;
  bottom: 50px;
}

.works-group .thumbnail {
  position: relative;
  display: block;
  width: 540px;
  height: 432px;
  overflow: hidden;
  border-radius: 15%;
}
.works-group .thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  transform-origin: center;
  object-fit: cover;
  object-position: center center;
}
.works-group .thumbnail:hover img {
  width: 105%;
  left: -2.5%;
}
.works-text {
  letter-spacing: 0.1em;
}
/*about*/
#about img {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center
}
#about h3 {
  font-size: 30px;
  letter-spacing: 0.4em;
  text-align: center;
}
#about p {
  margin: 0px auto 50px auto;
  width: 600px;
  letter-spacing: 0.1em;
  line-height: 2em;
}
#about {
  background-color: #EDEAE5;
  padding: 70px 0px;
}
#about a {
  width: fit-content;
  margin: 0 auto;
}

/*contact*/
#contact p {
  text-align: center;
}
.address {
  font-size: 20px;
  letter-spacing: 0.3em;
}
#contact {
  margin: 110px 0px;
}
.contact-text {
  margin-bottom: 70px;
}
.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #958f85 solid 1px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0px auto;
  transition: background-color 0.3s ease;
}

.mail:hover {
  background-color: #958f85;
  transition: background-color 0.3s ease;
}

.mail svg {
  width: 50px;
  height: 50px;
}

.mail .mail_icon {
  fill: #958f85;
  transition: fill 0.3s ease;
}

.mail:hover .mail_icon {
  fill: #fff;
  transition: fill 0.3s ease;
}

/*footer*/
footer {
  padding: 40px 0px;
  border-top: #958F85 solid 1px;
  border-bottom: #958F85 solid 1px;
  margin-bottom: 30px;
}
footer p {
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 12px;
}

/*back to top*/
#page-top {
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: none;
}
.circle {
  width: 180px;
  position: relative;
}

#page-top p {
  position: absolute;
  bottom: 32px;
  left: 74px;
  font-size: 35px;
  transition: all 0.3s ease;
}
#page-top:hover p {
  position: absolute;
  bottom: 45px;
  transition: all 0.3s ease;
}

/*他ページ*/
.ayakakamba-page img {
  width: 190px;
}

.page {
  display: flex;
  justify-content: space-between;
}

.page li {
  margin-bottom: 25px;
}
.page a {
  font-size: 16px;
}
.page h1 {
  font-size: 40px;
  letter-spacing: 0.5em;
}

/*workspage 一覧*/
.workspage-img {
  width: 475px;
  height: 378px;
  border-radius: 15%;
}
.workspage-img:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}
.works-article {
  max-width: 1300px;
  margin: 0px auto;
}
.works-icons {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.workspage-title {
  font-size: 20px;
  letter-spacing: 0.2em;
  font-weight: 300;
  margin-top: 0;
}
.works-catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: center;
}
.works-list {
  margin: 50px;
  position: relative;
}
.workspage-more {
  position: absolute;
  right: 5px;
  z-index: 998;
}
.works-list .works-list-thumbnail {
  position: relative;
  display: block;
  width: 475px;
  height: 378px;
  overflow: hidden;
  border-radius: 15%;
}

.works-list .works-list-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  transform-origin: center;
  object-fit: cover;
  object-position: center center;
}

.works-list .works-list-thumbnail:hover img {
  width: 105%;
  left: -2.5%;
}
/*works-more 個別*/
.works-more-img {
  width: 600px;
  height: 500px;
  border-radius: 15%;
  margin: 0px 40px;
}
.works-more-title {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
  letter-spacing: 0.2em;
}
.works-more-text {
  letter-spacing: 0.05em;
  margin-top: 50px;
}
.works-more {
  display: flex;
  justify-content: center;
}
.works-more-content {
  margin: 100px 50px;
  width: 45%;
}
.works-detail {
  margin: 100px;
}
.works-li {
  display: flex;
  margin-bottom: 50px;
}
.works-list-title {
  width: 30%;
}
.works-content-title {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.18em;
  margin-bottom: 0px;
  color: #413D36;
}
.works-content-en {
  margin-top: 0px;
  color: #958F85;
  letter-spacing: 0.1em;
}
.works-content-text {
  width: 70%;
}
.works-content-url {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #64615C;
  text-decoration: underline;
}
.design {
  background-color: #EDEAE5;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design img {
  width: 600px;
  height: 500px;
}
.back-to {
  font-size: 24px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #958F85;
  width: 150px;
  height: 150px;
  border: #958F85 solid 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px auto;
  transition: all 0.3s ease;
}
.back-to:hover {
  color: #ffffff;
  background-color: #958F85
}
.backnext {
  position: relative;
  margin-top: 70px;
  padding-bottom: 80px;
}
.next {
  font-size: 24px;
  letter-spacing: 0.2em;
  position: absolute;
  right: 100px;
}
.back {
  font-size: 24px;
  letter-spacing: 0.2em;
  position: absolute;
  left: 100px;
}

/*about*/
.me {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 0px auto 60px auto;
}
.about-h2 {
  font-size: 32px;
  letter-spacing: 0.5em;
  margin-bottom: 0;
}
.about-h3 {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  letter-spacing: 0.5em;
}
.line-about {
  background-color: #D8D4CE;
  width: 600px;
  height: 1px;
  margin: 20px auto;
}
.about-main p {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 600px;
}
.about-section {
  margin-top: 150px;
}
#skill {
  margin-bottom: 110px;
}
.strangth-li li {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px auto;
  max-width: 700px;
}
.strangth-title {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 300;
  width: 20%;
  text-align: center;
  margin-right: 15px;
}
.strangth-text {
  width: 70%;
  margin: 0 30px;
}
.skill-text {
  width: 400px;
  line-height: 2em;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.skill-title {
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}
.skill-icon {
  width: 65px;
  height: 65px;
  margin: 0px 15px;
}
.skill-box {
  margin-bottom: 100px;
}
.icons {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.illust {
  width: 300px;
  height: 200px;
  border-radius: 15%;
  object-fit: cover;
  margin: 20px 30px;
}
.illust:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.illust-box-in {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.illust-box {
  background-color: #EDEAE5;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0 70px 0;
}
.artgallery {
  font-size: 20px;
  letter-spacing: 0.5em;
  text-align: center;
  margin-bottom: 30px;
}
.likes-sp {
  display: none;
}
.likes-pc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  margin-bottom: 100px;
}
.likes-img img {
  width: 230px;
  margin: 30px;
}

.likes-img {
  width: 30%;
  overflow:		hidden;
  position: relative;
}

.likes-img .caption {
	font-size:		130%;
	color:			#fff;
	padding-top:		80px;
	padding-left:		20px;
}
.likes-img .mask {
	width:			70%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	margin-left:		-70%;
	background-color:	#fff;
  opacity: 0.85;
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
}
.likes-img:hover .mask {
	margin-left:		0px;
}
.likes-img img {
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
}
.likes-img:hover img {
	margin-left:		40%;
}
.caption h3 {
  color: #413D36;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.2em;
}
.caption p  {
  color: #413D36;
  font-size: 11px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  html {
    margin: 0;
  }

  #ayakakamba {
    display: none;
  }
  #ayakakamba-sp {
    display: flex;
    margin: 20px 0px 0px 20px;
    left: 20px;
  }
  #ayakakamba-sp img{
    width: 50vw;

  }
  /* ハンバーガーボタンのデザイン */
  .menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }
  /* ハンバーガーボタン内の線 */
  .menu-button > span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 1px;
    background-color: #413D36;
    transform: translateX(-50%);
  }
  .menu-button > span:first-child {
    transform: translate(-50%, calc(-50% - 0.5rem));
    transition: transform 0.3s ease;
  }
  .menu-button > span:last-child {
    transform: translate(-50%, calc(-50% + 0.5rem));
    transition: transform 0.3s ease;
  }
  .menu-button.active > span:first-child {
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #fff;
  }
  .menu-button.active > span:last-child {
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #fff;
  }

  /* メニューのデザイン */
  .nav-sp {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  .nav-sp-inner {
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #64615C;
    opacity: 0.9;
    padding: 4rem 1.5rem 1rem;
    margin: 0 0 0 auto;
    overflow: scroll;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .nav-sp-menu {
    padding-left: 0;
    margin-top: 100px;
  }
  .nav-sp-link {
    display: block;
    text-align: center;
    margin: 40px auto;
    color: #fff;
    padding: 1rem 1rem;
  }
  .nav-sp.active {
    opacity: 1;
    visibility: visible;
  }
  .nav-sp.active .nav-sp-inner {
    transform: translateX(0);
  }
  
  body.active {
    height: 100%;
    overflow: hidden;
  }

  /*mv*/
  #mv {
    display: none;
  }
  #mv-sp {
    width: 100%;
    display: block;
    position: relative;
  }
  .mv-text {
    font-size: 14px;
    position: absolute;
    top: 170px;
    right: 50px;
  }

  .works-group {
    display: block;
  } 
  .works-group .thumbnail  {
    width: 300px;
    height: 250px;
    margin: 0 auto;
  }
  .works-icon {
    width: 50px;
    height: 50px;
  }
  .works-content {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .works-content a {
    position: relative;
    bottom: 0;
  }
  .works-title {
    font-size: 16px;
  }
  .works-text {
    font-size: 12px;
  }

  #header-nav {
    display: none;
  }
  #mv {
    display: none;
  }

  .section-title {
    font-size: 32px;
  }
  #about img {
    width: 60vw;
  }
  #about p {
    margin: 0 auto 40px auto;
    width: 80vw;
    font-size: 13px;
  }

  .contact-text {
    font-size: 12px;
  }
  .address {
    font-size: 16px;
  }

  .header-page {
    display: none;
  }
  .page h1 {
    display: none;
  }

  .back-to {
    width: 80px;
    height: 80px;
    font-size: 13px;
  }
  .viewall {
    width: 80px;
    height: 80px;
    font-size: 13px;
  }
  /*back to top*/
#page-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}
.circle {
  width: 90px;
  position: relative;
}

#page-top p {
  position: absolute;
  bottom: 21px;
  left: 37px;
  font-size: 16px;
  transition: all 0.3s ease;
}
#page-top:active p {
  position: absolute;
  bottom: 26px;
  transition: all 0.3s ease;
}

/*about*/
.about-main p {
  width: 80vw;
}
.me {
  width: 70vw;
  margin-top: 50px;
}
.about-main h2 {
  font-size: 20px;
}
.about-h3 {
  font-size: 11px;
}
.line-about {
  width: 85vw;
}
.about-main p {
  font-size: 12px;
}
.about-h2 {
  font-size: 24px;
}
.about-h3 {
  font-size: 11px;
}
.strangth-title {
  font-size: 15px;
}
.strangth-text {
  font-size: 12px;
}
.skill-title {
  font-size: 16px;
  margin-right: 0px;
}
.skill-text {
  font-size: 12px;
  width: 80vw;
}
.skill-icon {
  width: 50px;
  height: 50px;
}
.illust {
  width: 45%;
  height: 35%;
  margin: 10px auto;
}
.likes-img {
  width: 50%;
}
.likes-img img {
  margin: 20px 20px 0 20px;
}
.likes-pc {
  display: none;
}
.likes-sp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px 0 0;
  max-width: 1000px;
  margin-bottom: 100px;
}
.caption h3 {
  font-size: 16px;
}
.caption p {
  font-size: 11px;
  line-height: 2em;
}
}