body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #64615C;
  background-color: #ffffff;
}
.abel {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
p {
  line-height: 2em;
}
li {
  list-style: none;
}

/*header*/
header {
  margin: 20px 240px 50px 240px;
}
#ayakakamba img {
  width: 300px;
}
#ayakakamba {
 display: flex;
 justify-content: center;
}
#header-nav {
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  font-size: 24px;
  color: #958F85;
  letter-spacing: 0.5em;
}
header a:hover {
  color: #64615C;
}
a {
  text-decoration: none;
  font-size: 24px;
  color: #958F85;
  letter-spacing: 0.5em;
}
a:hover {
  color: #64615C;
}
/*body*/
#mv {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin: 0;
}
.line {
  background-color: #64615C;
  width: 100%;
  height: 1px;
  margin-top: 30px;
}
section h2 {
  font-size: 40px;
  letter-spacing: 0.5em;
  text-align: center;
}
.section-title {
  margin-bottom: 60px;
}

/*works*/
.works-img img {
  width: 540px;
  border-radius: 15%;
  margin:0px 30px;
}
.works-img {
  margin: 0px auto;
}
.works-content {
  margin-top: 50px;
  padding-left: 140px;
  width: 540px;
  position: relative;
}
.works-group {
  display: flex;
  margin: 100px auto 0px auto;
}
.works-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin: 0px 0px 40px 0px;
}
#works{
  margin: 150px auto;
  max-width: 1200px;
}
.works-tag {
  letter-spacing: 0.15em;
  margin-bottom: 0;
  color: #958F85;
}
.viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.2em;
  border: #958F85 solid 1px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.works-icon {
  width: 65px;
  height: 65px;
  margin-right: 20px;
}
.more {
  font-size: 16px;
  letter-spacing: 0.5em;
}
.works-content a {
  position: absolute;
  bottom: 50px;
}
/*about*/
#about img {
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center
}
#about h3 {
  font-size: 36px;
  letter-spacing: 0.4em;
  text-align: center;
}
#about p {
  text-align: center;
  margin-bottom: 50px;
}
#about {
  background-color: #EDEAE5;
  padding: 70px 0px;
}
#about a {
  display: flex;
  justify-content: center;
}

/*contact*/
#contact p {
  text-align: center;
}
.address {
  font-size: 20px;
  letter-spacing: 0.3em;
}
#contact {
  margin: 110px 0px;
}
.contact-text {
  margin-bottom: 80px;
}
.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #958F85 solid 1px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0px auto;
}

/*footer*/
footer {
  padding: 40px 0px;
  border-top: #958F85 solid 1px;
  border-bottom: #958F85 solid 1px;
  margin-bottom: 30px;
}
footer p {
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 12px;
}

/*他ページ*/
.ayakakamba-page img {
  width: 190px;
}

.page {
  display: flex;
  justify-content: space-between;
}

.page li {
  margin-bottom: 25px;
}
.page a {
  font-size: 16px;
}
.page h1 {
  font-size: 40px;
  letter-spacing: 0.5em;
}

/*workspage 一覧*/
.workspage-img {
  width: 475px;
  height: 378px;
  border-radius: 15%;
}
.works-article {
  max-width: 1300px;
  margin: 0px auto;
}
.works-icons {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.workspage-title {
  font-size: 20px;
  letter-spacing: 0.2em;
  font-weight: 300;
  margin-top: 0;
}
.works-catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: center;
}
.works-list {
  margin: 50px;
  position: relative;
}
.workspage-more {
  position: absolute;
  right: 5px;
}

/*works-more 個別*/
.works-more-img {
  width: 600px;
  height: 500px;
  border-radius: 15%;
  margin: 0px 30px;
}
.works-more-title {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
}
.works-more-text {
  letter-spacing: 0.05em;
  margin-top: 50px;
}
.works-more {
  display: flex;
  justify-content: center;
}
.works-more-content {
  margin: 100px 50px;
}
.works-detail {
  margin: 100px;
}
.works-li {
  display: flex;
  margin-bottom: 50px;
}
.works-list-title {
  width: 30%;
}
.works-content-title {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.18em;
  margin-bottom: 0px;
  color: #413D36;
}
.works-content-en {
  margin-top: 0px;
  color: #958F85;
  letter-spacing: 0.1em;
}
.works-content-text {
  width: 70%;
}
.works-content-url {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #64615C;
  text-decoration: underline;
}
.design {
  background-color: #EDEAE5;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design img {
  width: 600px;
  height: 500px;
}
.back-to {
  font-size: 24px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #958F85;
  width: 150px;
  height: 150px;
  border: #958F85 solid 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px auto;
}
.backnext {
  position: relative;
  margin-top: 70px;
  padding-bottom: 80px;
}
.next {
  font-size: 24px;
  letter-spacing: 0.2em;
  position: absolute;
  right: 100px;
}
.back {
  font-size: 24px;
  letter-spacing: 0.2em;
  position: absolute;
  left: 100px;
}

/*about*/
.me {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 0px auto 60px auto;
}
.about-h2 {
  font-size: 32px;
  letter-spacing: 0.5em;
  margin-bottom: 0;
}
.about-h3 {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  letter-spacing: 0.5em;
}
.line-about {
  background-color: #D8D4CE;
  width: 600px;
  height: 1px;
  margin: 20px auto;
}
.about-main p {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.about-section {
  margin-top: 100px;
}
#skill {
  margin-bottom: 110px;
}
.skill-text {
  width: 400px;
  line-height: 2em;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.skill-title {
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}
.skill-icon {
  width: 65px;
  height: 65px;
  margin: 0px 15px;
}
.skill-box {
  margin-bottom: 100px;
}
.icons {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
#summary {
  display: flex;
  justify-content: center;
  margin: 100px auto 20px auto;
  cursor: pointer;
}
.illust {
  width: 300px;
  height: 200px;
  border-radius: 15%;
  object-fit: cover;
  margin: 20px 30px;
}
.illust-box-in {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.illust-box {
  background-color: #EDEAE5;
  width: 100%;
  height: 600px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
